*.DS_Store
.idea
out
target


_apalache-out

# Binary files
formal_verification/abstract_interpretation/bin
*.out

# OCaml addtional files
*.cmo
*.cmi

# TLA+ files
*.launch
wire.toolbox
*.bin
states
# TLA+ files generating graphs
*.dot
*.dump

# some book related stuff
assembly/Source/
